# Environnements virtuels
venv/
env/
ENV/
.venv/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# MLflow
mlruns/
mlartifacts/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
*.md

# Tests
tests/
test_*.py